@import url("./css/animation.css");
@import url("./css/tailwind.css");

:root {
  --background-color: #fff;

  --auth-card-background: #fff;

  --accent-color: #191970;
  --accent-color-light: #4f4fa1;
  /* --acent-color-low-opacity: rgba(25, 25, 112, 0.6); */
}

* {
  font-family: "Poppins", "DM Sans", "Montserrat", "Work Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.2s ease;
}

/* Text */
.small-text {
  font-weight: 400;
  font-size: 12px;
  opacity: 0.6;
}

/* Input fields */
input {
  width: 100%;
  height: 45px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 0 18px;
  font-size: 12px;
}

input:focus {
  outline: none;
}

textarea {
  width: 100%;
  padding: 8px 12px;
  font-size: 12px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

textarea:focus {
  outline: none;
  border-color: var(--accent-color-light);
}

/* buttons */
button {
  width: 100%;
  height: 45px;
  border: 0;
  border-radius: 10px;
  background-color: var(--accent-color);
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}
button:hover {
  opacity: 0.9;
  transform: scale(0.98);
  cursor: pointer;
}

button:disabled {
  /* opacity: 0.8; */
  background-color: var(--accent-color-light);
}

button:disabled:hover {
  cursor: not-allowed;
  opacity: 1;
  transform: none;
}

/* Toastify */

.Toastify__close-button {
  width: fit-content;
}

/* Pages */
.custom-page {
  width: 100vw;
  height: calc(100svh - 55px);
  padding: 10px 32px;
}
